/* Nav bar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9rem;
    background: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 300;
    text-decoration: none;
    margin-left: 80px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--dark-color);
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    background: white;
    border-radius: 10px;
}

.input-container .icon {
    position: absolute;
    margin-top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.input-container input {
    padding: 15px 10px 15px 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-container input:hover {
    border: 1px solid var(--dark-color);
}

.input-container .button {
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    color: var(--dark-color);
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    /*  enlace se comporta como un botón */
    cursor: pointer;
}

.input-container .button:hover {
    background-color: gray;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: skyblue;
}

.result-box {
    max-height: 100px;
    overflow-y: scroll;
}


.container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-around;
}

/* Contenido principal */
.content {
    width: 80%;
    padding: 2rem;
    overflow-y: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}

.content h2 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.content h3 {
    font-size: 1.75rem;
    margin: 5%;
    text-align: left;
    margin-bottom: 0.75rem;
}

.content p {
    font-size: 1.5rem;
    margin: 5% 0;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.content img {
    float: right;
    width: 45%;
    margin-left: 6px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-right: 5%;
}

img.center-image {
    float: right;
    width: 25%;
    margin-left: 20px;
    margin-bottom: 2rem;
    margin-top: -4rem;
    margin-right: 3%;
}

img.dragim {
    float: right;
    width: 100%;
    height: 80%;
    margin-bottom: 2rem;
    margin-right: 2%;
}

img.imgconta {
    float: right;
    width: 90%;
    height: 80%;
    margin-bottom: 2rem;
    margin-right: 2%;
    margin-left: 2%;
    box-shadow: 0 0 14px 0 rgb(0, 0, 0, 50%);
    position: relative;

}

img.imgemoji {
    float: right;
    width: 18%;
    margin-left: 16px;
    margin-bottom: -3rem;
    margin-top: -6rem;
    margin-right: 6%;

}

.img_circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95rem;
    height: auto;
    margin-left: -9rem;
}

.content ol {
    list-style: decimal;
    box-sizing: inherit;
    list-style-position: inside;
}

.content ul {
    box-sizing: inherit;
    list-style-position: inside;
}

.content li {
    display: list-item;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}



.concard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.1rem 1rem;
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 350px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

.img_ce {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    transition: 0.5s !important;
    margin: 0 !important;
}

.introo {
    max-height: 100px;
    width: 320px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--lighter-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    /* Permitir scroll cuando el contenido es más grande */
    transition: 0.5s;
}

h4 {
    margin-top: -10px;
    font-size: 20px;
}

.p1 {
    font-size: 15px;
    margin-top: 20px;
    padding-left: 9px;
    visibility: hidden;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
}

.card:hover .introo {
    max-height: 200px;
    /* Incrementa la altura cuando se hace hover */
    background: var(--dark-color);
    overflow: auto;
    /* Sigue permitiendo el scroll */
}

.card:hover .p1 {
    visibility: visible;
    opacity: 1;
}

.card:hover .img_ce {
    transform: scale(1.1) rotate(-5deg);
}


.content iframe {
    width: 90%;
    max-width: 100%;
    margin: 5% auto;
    display: block;
}


.content object {
    width: 90%;
    max-width: 100%;
    margin: 5% auto;
    display: block;
}

.content audio {
    width: 80%;
    max-width: 100%;
    margin: 5% auto;
    display: block;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container .responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}


.shadow-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    /* Slight shadow */
    padding: 2rem 0.5rem;
    /* Optional: Add some padding for better appearance */
    border-radius: 5px;
    /* Optional: Add rounded corners */
    background-color: #f1f0f0a2;
    /* Optional: Add background color */
}