/* Footer General Styles */
.footer {
    background-color: var(--dark-color);
    color: white;

    padding: 20px 0;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: var(--primary-color);
    /* Light green hover color */
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        gap: 10px;
    }
}