td {
    border-bottom: 1px solid #ccc;

    padding: 10px;
}

#colaboradores img {
    height: 100%;
    width: 100%;

    padding-right: 20px;
}

.colaborador-description {
    width: 75%;
    border-left: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
    tr {
        display: flex;
        flex-direction: column;
    }

    .colaborador-description {
        width: 100%;
        border-left: none;
    }
}