/* Reset básico */
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}